@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", serif;
 overflow-x: hidden;
}

/* 1. Name the items so the grid knows who is who */
.item1 {
  grid-area: daniel;
}
.item2 {
  grid-area: jonathan;
}
.item3 {
  grid-area: kira;
}
.item4 {
  grid-area: jeanette;
}
.item5 {
  grid-area: patrick;
}

.container {
  
  display: grid;
  gap: 20px;
  padding: 25px 0;
  grid-template-areas:
    "daniel   daniel   jonathan  kira"
    "jeanette patrick  patrick   kira";
}

.item1 {
    
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  position: relative; 
  overflow: hidden;   
  z-index: 1;
  height: 380px;
  width: 750px;
  border-radius: 5px;
}

.item1 .img1 {
  border-radius: 50%;
  height: 45px;
  border: 3px solid hsl(264, 82%, 80%);
  position: relative;
  top: 25px;
  left: 25px;
}

.item1 .name {
  font-size: 22px;
  position: relative;
  left: 87px;
  bottom: 24px;
}

.item1 .name h1 {
  font-size: 20px;
  font-weight: 500;
}

.item1 .name p {
  font-size: 15px;
  padding-top: 2px;
  font-weight: 600;
}

.item1 .top-quote {
  font-size: 27px;
  font-weight: 600;
  padding-left: 23px;
  max-width: 700px;
}

.item1 .bottom-quote {
  font-size: 20px;
  font-weight: 500;
  padding-top: 25px;
  padding-left: 30px;
  max-width: 700px;
  color: hsl(0, 0%, 81%);
}

.item1 .quote-img {
  position: absolute;
  z-index: -1;
  top: 17px;
  left: 70%;
}

.item2 {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
  height: 380px;
  width: 300px;
  border-radius: 5px;
  margin-right: 22px;
}

.item2 .person img {
  border-radius: 50%;
  height: 45px;
  border: 3px solid hsl(224, 10%, 45%);
  position: relative;
  top: 25px;
  left: 25px;
}

.item2 .name {
  font-size: 28px;
  position: relative;
  left: 87px;
  bottom: 24px;
}

.item2 .name h1 {
  font-size: 20px;
  font-weight: 500;
}

.item2 .name p {
  font-size: 15px;
  padding-top: 2px;
  font-weight: 600;
}

.item2 .top-quote {
  font-size: 28px;
  font-weight: 500;
  padding-left: 30px;
}

.item2 .bottom-quote {
  position: relative;
  bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 36px;
  padding-left: 30px;
  color: hsl(0, 0%, 81%);
}

.item3 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  border-radius: 5px;
  margin-left: -25px;
  width: 250px;
}

.item3 .person img {
  border-radius: 50%;
  height: 45px;
  position: relative;
  top: 25px;
  left: 25px;
}

.item3 .name {
  font-size: 22px;
  position: relative;
  left: 87px;
  bottom: 24px;
}

.item3 .name h1 {
  font-size: 20px;
  font-weight: 500;
}

.item3 .name p {
  font-size: 15px;
  padding-top: 2px;
  font-weight: 600;
}

.item3 .top-quote {
  font-size: 25px;
  font-weight: 500;
  padding-left: 30px;
}

.item3 .bottom-quote {
  font-size: 17px;
  font-weight: 500;
  padding-top: 47px;
  padding-left: 30px;
  color: hsl(224, 10%, 45%);
  max-width: 243px;
}

.item4 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  height: 350px;
  width: 350px;
}

.item4 .person img {
  border-radius: 50%;
  height: 45px;
  position: relative;
  top: 25px;
  left: 25px;
}

.item4 .name {
  font-size: 22px;
  position: relative;
  left: 87px;
  bottom: 24px;
}

.item4 .name h1 {
  font-size: 20px;
  font-weight: 500;
}

.item4 .name p {
  font-size: 15px;
  padding-top: 2px;
  font-weight: 600;
}
.item4 .top-quote {
  font-size: 28px;
  font-weight: 500;
  padding-left: 30px;
}

.item4 .bottom-quote {
  font-size: 20px;
  font-weight: 500;
  padding-top: 35px;
  padding-left: 30px;
  color: hsl(224, 10%, 45%);
}

.item5 {
  background-color: hsl(219, 29%, 14%);
  color: #fff;
  border-radius: 5px;
  height: 350px;
  width: 700px;
}

.item5 .person img {
  border-radius: 50%;
  height: 45px;
  position: relative;
  top: 25px;
  left: 25px;
}

.item5 .name {
  font-size: 22px;
  position: relative;
  left: 87px;
  bottom: 24px;
}

.item5 .name h1 {
  font-size: 20px;
  font-weight: 500;
}

.item5 .name p {
  font-size: 15px;
  padding-top: 2px;
  font-weight: 600;
}
.item5 .top-quote {
  font-size: 28px;
  font-weight: 500;
  padding-left: 30px;
}

.item5 .bottom-quote {
  font-size: 20px;
  max-width: 700px;
  font-weight: 500;
  padding-top: 24px;
  padding-left: 30px;
  color: hsl(0, 0%, 81%);
}

@media (max-width: 375px) {
  .container {
   
    grid-template-areas:
      "daniel"
      "jonathan"
      "jeanette"
      "patrick"
      "kira";
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 0;
  }

  
  .item1, .item2, .item3, .item4, .item5 {
    width: 100% !important;
    height: auto !important;
    margin: 0 0 20px 0 !important; 
    padding-bottom: 30px;
  }

  
  .item1, .item2, .item3, .item4, .item5 {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  }

  .item1, .item2, .item3, .item4, .item5 {
  width: 100%; 
  height: auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

  .item1 {
    min-height: 480px; 
    background-color: #733fc8; 
  }

  
  .top-quote {
    font-size: 20px !important;
    padding-right: 20px;
  }

  .bottom-quote {
    font-size: 16px !important;
    max-width: 100% !important;
  }

  .item1 .quote-img {
    left: 60%;
  }
}